{% extends "base.html.twig" %}

<title>{% block title %}page tous les articles{% endblock %}</title>

<body>
    {% block body %}
        {% for article in articles %}
        <h1>{{article.theme}}</h1>
        <img src="{{ asset('') }}" alt="thème choisi">
        
            <span>Modifié le : {{article.updated_at | date}}</span>
        {% endfor %}
    {% endblock %}
</body>